src/flows/CreateASwitchFlow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>CreateASwitchFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateASwitchFlow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateSwitchForTheRoom</name>
        <label>Create Switch For The Room</label>
        <locationX>529</locationX>
        <locationY>55</locationY>
        <assignRecordIdToReference>switchId</assignRecordIdToReference>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Switch_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>CurrentRoom.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SwitchDescription__c</field>
            <value>
                <elementReference>Switch_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wattage__c</field>
            <value>
                <elementReference>Wattage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isSwitchedOn__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Switch__c</object>
    </recordCreates>
    <recordLookups>
        <name>LookUpRoomDetails</name>
        <label>LookUpRoomDetails</label>
        <locationX>35</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Switch_For_Room</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Room__c</object>
        <outputReference>CurrentRoom</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_Switch_For_Room</name>
        <label>Create Switch For Room</label>
        <locationX>248</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSwitchForTheRoom</targetReference>
        </connector>
        <fields>
            <name>Switch_Name</name>
            <dataType>String</dataType>
            <fieldText>Switch Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Wattage</name>
            <dataType>Number</dataType>
            <fieldText>Wattage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Switch_Description</name>
            <fieldText>Switch Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_Room</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentRoom.Name</elementReference>
            </defaultValue>
            <fieldText>Parent Room</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>LookUpRoomDetails</startElementReference>
    <variables>
        <name>CurrentRoom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Room__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>switchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
